.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--additional-200);
}

.title {
  font-size: 1.7rem;
}

.icon {
  font-family: 2rem;
}
