.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
}

.navigation span {
  display: block;
  width: 3.7rem;
  height: 0.5rem;
  background-color: var(--main-950);
  border-radius: 2px;
}
