.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.borderBottom {
  border-bottom: 1px solid var(--additional-200);
}

.list-item {
  flex: 1 1;
}
