.recipe {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 2px rgba(2, 6, 23, 0.3);
}
.image-container {
  width: 100%;
  min-height: 20rem;
  object-fit: contain;
  position: relative;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(2, 6, 23, 0.1);
}
.img {
  width: 100%;
  max-height: 20rem;
  object-fit: contain;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.8rem 1rem;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 5px;
  background-color: var(--main-200);
  font-size: 1.2rem;
  box-shadow: 1px 1px 3px 2px rgb(74, 4, 78, 0.05);
}
.liked {
  position: absolute;
  top: 7px;
  right: 7px;
}
.desc {
  text-align: left;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
}

.tags {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
}

.tags li {
  list-style: none;
  position: relative;
}

.tags li:not(:first-child):before {
  content: "·";
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}
