.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 2px 2px 2px rgba(2, 6, 23, 0.2);
}

.image-container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  width: 100%;
}

.title {
  font-size: 1.4rem;
  font-weight: 300;
}

.link {
  padding: 0.5rem 2.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--main-950);
  background-color: var(--additional-200);
  border-radius: 5px;
}
