.message {
  padding: 10rem;
  font-size: 2.5rem;
}

.message.error {
  color: var(--main-700);
}

.message.success {
  color: var(--action-500);
}

.message.info {
  color: var(--additional-950);
}

.button-container {
  position: absolute;
  right: 10px;
  top: 10px;
}