.home {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  text-align: left;
  font-size: 3.5rem;
}

.search-with-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  text-align: left;
}
